<div class="container">
  <br>
    <div *ngIf="house; else loading">
      <h1>{{ house.name }}</h1>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="four wide column">
          <h4>Sworn Members</h4>
          <a *ngFor="let character of house.swornMembers"
    [routerLink]="['/characters',getId(character)]">Character {{getId(character)}}, </a>
        </div>
        <div class="four wide column">
          <h4>Name</h4>
          {{ house.name }}
        </div>
        <div class="four wide column">
          <h4>Region</h4>
          {{ house.gender }}
        </div>
        <div class="four wide column">
          <h4>Words</h4>
          {{ house.words }}
        </div>
      </div>
      <h4>Coat Of Arms</h4>
      <p>{{ house.coatOfArms }}</p>
      <div class="ui small images">
        <img *ngFor="let thumbnail of house.thumbnails"
          [src]="thumbnail.url">
      </div>
    </div>
  
    <ng-template #loading>
      <div class="ui active centered inline loader"></div>
    </ng-template>
  </div>
  